<span>
  <%= object.likes.count %>

    <button class="btn btn-liked"><i class="fas fa-thumbs-up"></i></button>

    <button class="btn btn-neutral"><i class="fas fa-thumbs-up"></i></button>
  Likes
</span>